#dashboard {
    grid-template-columns: 400px auto 400px;
    #dash_profilePanel .p-fixed{
        z-index: 2;
        width: 400px;
        height: 100vh;
        background: #ffffff;
        box-shadow: 2px 0 2px 0 lightgray;
        .logobox{
            padding: 5px;
            img{
                width: 50px;
            }
            h1{
            line-height: 50px;
            margin-left: 10px; 
            }
        }
        .profile{
            justify-content: center;
            img{
                border: solid darkgray 1px;
                border-radius: 50%;
                height: 100px;
                margin: 10px;
            }
            .description{
                padding: 10px;
                h1{
                    font-size: 26px;
                }
                h3{
                    font-size: 24px;
                    
                }
                h4{
                    font-size: 18px;
                    font-weight: normal;
                }
                h5{
                    color: grey;
                    font-size: 15px;
                    font-weight: 100;
                }
            }
        }
        .activity{
            margin: 20px 0;
            li{
                display: flex;
                justify-content: space-between;
                padding: 5px 20%;
                font-size: 18px;
                .description{
                    color: gray;
                }
                .amount{
                    color: #840606;
                }
            }
        }
        #dash_createPost{
            display: block;
            cursor: pointer;
            font-size: 16px;
            margin: 20px auto;
            border: none;
            border-radius: 10px;
            padding: 10px 20px;
            background: #3F99EE;
            color: white;
        }
        form{
            padding: 10px;
            h4{
                margin-left: 15%;
            }
        }
        .findFriend{
            input{
                margin: auto;
                display: block;
                border: none;
                border-radius: 4px;
                height: 30px;
                padding: 0 5px;
                background: #F1F1F1;
                width: 55%;
                max-width: 400px;
            }
            button{
                display: inline;
                font-size: 16px;
                margin: 5px 25% 0 0;
                border: none;
                border-radius: 10px;
                padding: 5px 15px;
                background: #3F99EE;
                color: white;
            }
        }
        .activeFriendRequests{
            li{
                padding: 0 10%;
                img{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin: 5px;
                }
                h5{
                    margin: 5px;
                    line-height: 40px;
                }
                i{
                    cursor: pointer;
                    margin-left: 10px;
                    color: gray;
                }
                button{
                    cursor: pointer;
                    border: none;
                    margin: 12.5px 0;
                    margin-left: 30px;
                    height: 30px;
                    padding: 0 10px;
                    background: #3F99EE;
                    color: white;
                    border-radius: 10px;
                }
            }
        }
    }
    #dash_postPanel{
        position: relative;
        .postForm{
            top: 80px;
            left: calc(50% - 15vw);
            display: block;
            margin: auto;
            background: white;
            width: 30vw;
            z-index: 3;
            position: fixed;
            border: .5px solid lightgrey;
            border-radius: 4px;
            .header{
                i{
                    line-height: 50px;
                    font-size: 20px;
                    color: gray;
                    margin-right: 30px;
                }
            }
            textarea{
                width: 100%;
                height: 100px;
                border-radius: 4px;
                resize: none;
                margin: 0 0 0 10px;
            }
            input{
                display: block;
                border: .5px solid lightgray;
                border-radius: 4px;
                height: 40px;
                font-size: 16px;
                width: 90%;
                padding: 5px;
                margin: 15px auto;
            }
            button{
                border: none;
                background: #3F99EE;
                color: white;
                border-radius: 10px;
                width: 75px;
                font-size: 16px;
                margin: 0 20px 0 10px;
                height: 30px;   
            }
            .dropdown{
                position: relative;
                button{
                    border: none;
                    background: #3F99EE;
                    color: white;
                    border-radius: 4px;
                    width: 75px;
                    font-size: 16px;
                    margin: 0 0 0 10px;
                    height: 30px;
                }
                ul{
                    z-index: 3;
                    top: 30px;
                    left: 10px;
                    background: whitesmoke;
                    position: absolute;
                    width: 75px;
                    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
                    li{
                        position: relative;
                        width: 75px; 
                        padding: 5px;  
                        cursor: pointer;
                    }
                    li:hover{
                        background: lightgray;
                        transition: .05s;
                    }
                }

                
            }
            h3{
                margin: 10px 40px;
            }
            form{
                padding: 10px 40px;
            }
        }
        nav .p-fixed {
            z-index: 1;
            text-align: left;
            background: white;
            width: 100%;
            height: 65px;
            border-bottom: 1px lightgray solid;
            padding: 0 5%;
            ul li {
               margin: 0 20px;
               line-height: 65px;
               font-size: 17px;
    
            }
            .active{
                color: #840606;
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    width: 100%;
                    transform: scaleX(1);
                    height: 2px;
                    bottom: 20px;
                    left: 0;
                    background: #840606;
                    transform-origin: bottom right;
                    transition:  transform 0.25 ease-out;
                }
            }
        }
        .posts{
            padding: 65px 0;
        }
    }

    #dash_networkpanel{
        background: white;
        z-index: 1;
        .panel-header{
            height: 65px;
            border-bottom: .5px solid lightgray;
            h2{
                line-height: 65px;
                text-align: center;
            }

        }
        .network-panel{
            height: calc(100vh - 65.5px);
            border-left: .5px solid lightgray;
            h3{ padding: 4px 0 0 20px; }
            a{
                margin: 0 50px;
                font-size: 13px;
                color: #840606;
            }
            .friends{ 
                ul{
                    justify-content: center;
                    grid-template-columns: 85px 85px 85px 85px;
                    grid-template-rows: 85px 85px; 
                    li{
                        img{
                            display: block;
                            border-radius: 50%;
                            width: 50px;
                            margin: auto;
                        }
                        h5{
                            font-size: 12px;
                            text-align: center;
                        }
                    }
                }
            }
            .interests{
                ul {
                    padding: 15px; 
                    li{
                        display: inline-block;
                        color: #840606;;
                        border: 2px solid #840606;;
                        border-radius: 10px;
                        padding: 2px 10px;
                        margin: 4px 5px;
                    }              
                }
            }
            .events{
                ul {
                    padding: 0 15px; 
                    
                    li{
                        justify-content: space-around;
                        border-radius: 10px;
                        margin: 10px 0;
                        padding: 10px 0px;
                    }               
                }
            }
        }
    }
}