#profileSettings{
    .flex{
        display: flex;
    }
    .justify-content-center{
        justify-content: center
    }
    nav{
        ul{
            display: inline;
            li{
                line-height: 50px;
                display: inline;
            }
        }
    }
    .container{
        margin: auto;
        width: 85%;
        
        .profile {
            .split{
                padding: 0 80px;
            }
            .profileField{
                label{
                    padding-left: 10px;
                }
                input{display: flex;
                    display: block;
                    border: .5px solid lightgray;
                    height: 27px;
                    width: 90%;
                }
                textarea{
                    resize: none;
                    width: 500px; 
                    height: 185px;
                    border: .5px solid lightgray;
                    border-radius: 4px;
                    padding: 10px 0 0 10px;
                }
                img{
                    width: 300px; 
                    height: 300px;
                    border-radius: 4px;
                }
                button{
                    position: relative;
                    left: -285px;
                    bottom: 15px;
                    background: rgba(0, 0, 0, 0.774);
                    border: none;
                    color: white;
                    padding: 5px 10px;
                    border-radius: 10px;
                }
            }
            .field_button{
                background: rgb(0, 101, 252);
                color: white;
                border: none; 
                border-radius: 10px;
                width: 80px;
                margin-left: 1em;
                margin-top: 10px;
                padding: 10px 10px;
            }
        }
        .security{

            .center{
                padding: 20px 18%;
                margin: auto;
                .profileField{
                    .p-10{
                        padding-left: 10px;
                    }
                    .no_padding{
                        padding: 0 !important; 
                    }
                    input{display: flex;
                        display: block;
                        border: .5px solid lightgray;
                        height: 27px;
                        width: 90%;
                    }

                    .warn_button{
                        background: red;
                        color: white;
                        border: none;
                        border-radius: 10px;
                        margin-left: 3em;
                        padding: 10px 10px;
                    }
                }
                .field_button{
                    text-align: center;
                    width: 80px;
                    background: rgb(0, 101, 252);
                    color: white;
                    border: none; 
                    border-radius: 10px;
                    margin-left: 1em;
                    margin-top: 10px;
                    padding: 10px 10px;
                }
            }
        }
    }
}