#profilePage{
  margin: auto;
  width: 80%;
  justify-content: space-around;}

  #profilePage button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
  }

  #profilePage p{
    width: 400px;
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
  }


  #profilePage h3{
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
  }
  
  #profilePage hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }

  #profilePage input {
    height: 35px;
    width: 70%;
    padding-left: 6px;
    margin: 10px;
    border: .5px solid lightgray;
    border-radius: 4px; 
  }

  #profilePage select {
    background: white;
    font-size: 20px;
    font-weight: bold;
    height: 35px;
    width: 70%;
    padding-left: 6px;
    margin: 10px;
    border: .5px solid lightgray;
    border-radius: 4px; 
    padding: 2px 10px;
    -webkit-appearance: none;
 }

  #profilePage .heading {
    position: relative;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    /*align-content: flex-start;*/
  }
    
    #profilePage .heading div img{
      display: inline;
    }

    

    #profilePage .heading div h1{
      font-weight: bold;
      position: relative;
      top: -13px;
      display: inline-block;
      margin: 0 10px;
    }

    #profilePage .heading div .return {
      display: inline;
      background-color: white; 
      color: black; 
      border: 2px solid #990000;
    }

    #profilePage .heading div .return:hover {
      background-color: #990000;
      color: white;
    }

    
  #profilePage .imgAndBio {
    position: relative;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }

    #profilePage .imgAndBio .profileimg img {
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 5px;
      width: 220px; 
      height: 220px;
    }
    
    #profilePage .imgAndBio .profileimg img:hover {
      box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }

    #profilePage .imgAndBio .profileimg h3{
      margin-top: 10px;
      font-size: 15px;
      display: block;
    }

    #profilePage .imgAndBio .profileimg .changeImg {
      margin-top: 10px;
      padding: 4px 15px;
      display: block;
      background-color: white; 
      color: black; 
      border: 2px solid #990000;
    }

    #profilePage .imgAndBio .profileimg .changeImg:hover {
      display: block;
      background-color: #990000;
      color: white;
    }

    #profilePage .imgAndBio .profilebio{
      position: relative;
      left: 2%;
      width: 100%;
      display: block;
    }


    #profilePage .imgAndBio .profilebio textarea{
      padding: 12px 20px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      background-color: #f8f8f8;
      font-size: 16px;
      resize: none;
      height: 240px;
      width: 97%;
      background-color: white;
      display: inline-block;
    }
  

  #profilePage .basicInfo {
    position: relative;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
    
  }

  #profilePage .basicInfo div h3{
    display: block;
  }

  #profilePage .basicInfo div input{
    position: relative;
    top: -6px;
    width: 50%;
    display: inline-block;
    position: relative;
    margin: 8px;
  }

    #profilePage .basicInfo .studentInfo{
      position: relative;
      display: inline-block;
    }

    #profilePage .basicInfo .labels h3{
      margin-top: 20px;
      display: block;
    }

    #profilePage .basicInfo .buttons{
      width: 400px;
      position: relative;
      top: 13px;
      left: 15px;
      display: block;
    }

    
    #profilePage .basicInfo .buttons button{
      
      position: relative;
      left: -48px;
      top:-5px;

      display: inline-block;
      border: none;
      background: #3F99EE;
      color: white;
      border-radius: 4px;
      padding: 5px 10px;
      font-size: 16px;
      margin-bottom: 10px;
    }

    #profilePage .basicInfo .buttons ul{
      z-index: 3;
      background: whitesmoke;
      position: absolute;
      width: 0 10px;
      box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);}
      #profilePage .basicInfo .buttons ul li{
          position: relative;
          padding: 5px 10px;  
          cursor: pointer;
      }
      #profilePage .basicInfo .buttons li:hover{
          background: lightgray;
          transition: .05s;
      }

    #profilePage .basicInfo .interestHeading{
      position: relative;
      width: 70%;
      left: 10px;
      top: 12px;
    }

    #profilePage .basicInfo .interestHeading input{
      position: relative;
      left: -6px;
      margin-bottom: 2px;
    }

    #profilePage .basicInfo div .addInterest {
      position: relative;
      top: -5px;
      padding: 4px 15px;
      display: inline-block;
      background-color: white; 
      color: black; 
      border: 2px solid #291ca3;
      border-radius: 5px;
    }
    #profilePage .basicInfo div .addInterest:hover {
      display: inline;
      background-color: #291ca3;
      color: white;
    }
    
    #profilePage .basicInfo .interestHeading .myList{
      position: relative;
      top: 10px;
      left: -3px ;
      display: inline-block;
      white-space: normal;
      overflow: hidden;
      text-overflow: ellipsis; 
    }

    #profilePage .basicInfo .interestHeading .myList li{
      display: inline;
    }

    #profilePage .basicInfo .interestHeading .myList li button{
      padding: 4px 15px;
      display: inline-block;
      background-color: white; 
      color: black; 
      border: 2px solid #990000;
      border-radius: 12px;
      margin: 5px;
    }

    #profilePage .basicInfo .interestHeading .myList li button:hover {
      display: inline;
      background-color: #990000;
      color: white;
    }



   




  #profilePage .editButton {
      padding: 9px 20px;
      display: inline;
      background-color: white; 
      color: black; 
      border: 2px solid #990000;
      margin: 10px;
    }

  #profilePage .editButton:hover {
      display: inline;
      background-color: #990000;
      color: white;
    }

  #profilePage .delButton {
      padding: 9px 20px;
      display: inline;
      background-color: white; 
      color: black; 
      border: 2px solid #19a70c;
      margin: 10px;
    }

  #profilePage .delButton:hover {
      display: inline;
      background-color: #19a70c;
      color: white;
    }