#ResetPassword {
    background-image: url("../images/IU_Gates.jpg"); 
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 100vh;
    width:1500px;
    display: flex;
    justify-content: space-around; 
    position: relative;
    text-align: center;
  
  }

  #ResetPassword .label {
    text-align: left;
    padding-left: 80px;
    font-weight: bold;
  }
  #ResetPassword input {
    height: 35px;
    width: 250px;
    padding-left: 6px;
    margin: 10px;
    border: 0.5px solid lightgray;
    font-weight: 500;
    font-size: 110%;
    border-radius: 4px;
    text-align: center;
    
  }
  #ResetPassword span .button,
  #ResetPassword span p {
    display: inline-block;
    cursor: pointer;
  }
  #ResetPassword span .button {
    width: 105px;
    background: #6e0101;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 100%;
  }
  #ResetPassword .formBox {
    transform: translate(0%, 26vh);
    border: .5px lightgray solid;
    border-radius: 20px;
    background-color: #fff;
    width: 300px;
    padding: 10px;
    height: 280px }
    #ResetPassword .formBox img {
      display: inline-block;
      width: 40px; }
    #ResetPassword .formBox h4 {
      display: inline-block;
      position: relative;
      line-height: 5px;
      top: -20px; }